<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.apex.ecommerce.core.Listeners"/>
 <listener class-name="com.apex.ecommerce.core.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.apex.ecommerce.order.test.OrderTest"/>
      <class name="com.apex.ecommerce.signon.test.SignonTest"/>
      <class name="com.apex.ecommerce.core.ApexBaseTest"/>
      <class name="com.apex.ecommerce.registration.test.RegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
